:root {
	--primary: #FFFFFF;
	--secondary: #D1D1D1;
	--accent: #C9744F;
	--primary-dark: #0B2A54;
	--secondary-dark: #2A456B;
	--accent-dark: #1D6987;
}

@font-face {
    font-family: 'Ragile';
    src: url(../assets/fonts/ragile.otf)
}

h1 {
    font-family: 'Ragile', serif;
    font-style: normal;
    font-weight: 400;   
}

h2 {
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: 600;
}

body {
	font: 100% / 1.5 Arial;
}

.background-wrap {
    background-size: cover;
    width: 100%
}

.background-wrap#bg-1 {
    /* background-image: radial-gradient(circle at 30% 50%, #729d8e, #689b8f, #5e9890, #549592, #499294, #3e8f97, #338c9a); */
    background-image: linear-gradient(90deg, #729D8E 0%, #6A9B8F 14.29%, #619990 28.57%, #589691 42.86%, #4F9493 57.14%, #469195 71.43%, #3C8F98 85.71%, #338C9A 100%);
}

.section {
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.section#cover {
    min-height: 57vw
} 

#cover .Title {
    z-index: 7;
    position: absolute;
    top: 10vw;
    text-align: center;
    font-size: 8vw;
    color: var(--primary)
}

#cover .Date {
    z-index: 7;
    position: absolute;
    top: 25vw;
    text-align: center;
    font-size: 3vw;
    color: var(--primary)
}