:root {
	--primary: #FFFFFF;
	--secondary: #D1D1D1;
	--accent: #C9744F;
	--primary-dark: #0B2A54;
	--secondary-dark: #2A456B;
	--accent-dark: #1D6987;
}

@font-face {
    font-family: 'Ragile';
    src: url(../assets/fonts/ragile.otf)
}

h1 {
    font-family: 'Ragile', serif;
}

h2, 
h3, 
body {
    font-family: "Poppins", serif;
}

a {
    text-decoration: none
}

#navbar {
    overflow: hidden;
    background-image: linear-gradient(90deg, rgba(29, 107, 138, 0.9) 0%, rgba(233, 111, 61, 0.9) 100%);
    height: 6.888vw;
    width: 100%;
    position: fixed;
}

#navbar a {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    padding: 2.058vw 2.5vw;
    gap: 0.661vw;
/* 
    position: absolute;
    left: 3.69%;
    right: 80.18%;
    top: 15.36%;
    bottom: 17.42%;

    width: 76px;
    height: 38px; */

    /* Large Description */
    font-weight: 600;
    font-size: 1.653vw;
    color: var(--primary);
}

.background {
    background-size: cover;
    width: 100%
}

.background#bg-1 {
    /* background-image: radial-gradient(circle at 30% 50%, #729d8e, #689b8f, #5e9890, #549592, #499294, #3e8f97, #338c9a); */
    background-image: linear-gradient(90deg, #729D8E 0%, #6A9B8F 14.29%, #619990 28.57%, #589691 42.86%, #4F9493 57.14%, #469195 71.43%, #3C8F98 85.71%, #338C9A 100%);
}

.section {
    /* background-repeat: no-repeat; */
    background-size: cover; 
    background-position: center;
    /* display: -webkit-box; */
    /* display: -ms-flexbox; */
    display: flex;
    /* -webkit-box-pack: center; */
    /* -ms-flex-pack: center; */
    justify-content: center
}

.section#home {
    min-height: 59vw
} 

#home .Title {
    position: absolute;
    top: 10vw;
    text-align: center;

    font-weight: 400;
    font-size: 9.259vw;

    color: var(--primary);
}

#home .Date {
    position: absolute;
    text-align: center;
    top: 25vw;

    font-weight: 600;
    font-size: 3.307vw;

    color: var(--primary)
}

#home .Button {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.058vw 4.233vw;
    gap: 0.661vw;

    position: absolute;
    width: 30.489vw;
    height: 4.630vw;
    top: 34vw;

    font-weight: 600;
    text-align: center;
    font-size: 1.653vw;
    color: var(--primary);

    background: var(--accent);
    border: 0.132vw solid var(--primary);
    border-radius: 0.529vw;
    transition: background .3s ease-in-out;
}

#home .Button:hover {
    background: var(--accent-dark);
  }